@import "node_modules/bootstrap/scss/bootstrap";
#root {
  height: 100vh; //100% view height
  width: 100vw;

  overflow-x: hidden;
}
.navbar,
.section {
  max-width: 100vw !important;
  width: 100%;
}
.navbar-light.bg-light,
.blue {
  background: #91d4f5 !important;
  color: #fff;
  a.nav-link {
    color: #fff;
    font-size: 1.6rem;
  }
}

.logo {
  max-height: 120px;
}

.section {
  min-height: 70vh;
}

.top-bar-button {
  margin-left: auto;
}
.section-wrapper {
  max-width: 100vw;
}
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  max-height: 80vh;
  padding-bottom: 80vh; /* aspect ratio */
  vertical-align: middle;
  overflow: hidden;
  margin: 2rem;
}
.svg-content-responsive {
  cursor: default;
  // display: flex;
  max-height: 80vh;
  position: absolute;
  top: 0;
  margin: auto;
}

.section-graph {
  svg {
    border: #fdd910 5px solid;
    width: 100%;
  }
  max-height: 80vh;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.char-wrapper {
  height: 100%;
  &:hover {
    .char-info {
      display: flex;
    }
    .simpson-pic {
      display: none;
    }
  }
}

.simpson-pic {
  max-height: 250px;
  img {
    max-height: 250px;
  }
}

.char-info {
  display: none;
  height: 100%;
  max-height: 250px;
}

.card-flip {
  perspective: 1000px;
  &:hover .flip,
  &.hover .flip {
    transform: rotateY(180deg);
  }
}

.card-flip,
.front,
.back {
  width: 100%;
  height: 250px;
}

.flip {
  transition: 0.5s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
  background: #fff;
  background: #fdd910;
  .card {
    background: #fdd910;
    margin: auto;
    font-size: 2rem;
  }
}
.card {
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #91d4f5;
  border: 0;
  display: flex;
}
